basePath: /
definitions:
  pkg.ResponsePayload:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      status:
        type: boolean
    type: object
host: localhost:8080
info:
  contact: {}
  description: API untuk sistem kasir sederhana
  title: Kasir API
  version: "1.0"
paths:
  /health:
    get:
      consumes:
      - application/json
      description: Health Check
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/pkg.ResponsePayload'
      summary: Health Check
      tags:
      - Health
swagger: "2.0"
